$secondary: #ebebeb;
$primary: #59009c;
$light: #5555ff;
$header-bg: #444444;

$offset: 10px;
$offset-sm: 16px;
$offset-m: 20px;

$border-radius-s: 2px;
$border-radius-m: 4px;

$screen-s: 478px;
$screen-m: 768px;
$screen-l: 1280px;

$font-size-s: 12px;
$font-size-sm: 16px;
$font-size-m: 20px;
$font-size-l: 30px;

$font-weight-r: 400;
$font-weight-sb: 600;
$font-weight-b: 700;